@charset "utf-8";
/* CSS Document */
/* EDIT PRODUCT PAGE */
.ui-menu { width: 150px; }
#menu{ margin-top:10px; background-color:whitesmoke; }
#filters{ margin:5px; padding:10px; border:solid 1px silver; }
#filters .badge{ cursor:pointer; }
#filters .btn{ margin:2px; }
.filter-name{ background-color:whitesmoke; border:solid 1px white; }
.value-lnk{ background-color:whitesmoke; color:navy; font-weight:bold; border:solid 1px white; }
.btn-primary{ display:inline-block; padding:5px 10px; margin:2px; background-color:navy; color:white; border:solid 1px white; border-radius:5px; font-size:12px; font-weight:bold; }
.badge{ display:inline-block; padding:0; margin-left:10px; color:white; font-size:12px; font-weight:bold; }

/* FILTER MANAGEMENT SECTION */
#preview_content{ margin:10px; }
#headingSubtitle{ font-size:1.2em; line-height:2em;	}
#headingSubtitle a{ font-weight:bold; color:navy; text-decoration:none; }
#headingSubtitle a:hover{ color:orange; }

#btn_delete{ float:right; }